.App {
  text-align: center;
  background-color: rgb(249, 246, 246) !important;
}

.profile-image-container{
  display: flex;
  justify-content: center;
  align-items: center;   
  width: 160px;
  height: 40px;
  gap:14px;
}
.profile-image-container img{
  width: 40%;
  border-radius: 50%;
}

.profile-image-container span{
  font-size: 12px;
  color:black;
}

.banner-part{
  width: 100%;
  background: #fff;
  border-radius: 20px;
}

.banner-part img{
  width: 80%;
}
.past-booking{
  /* background-color: #fff; */
  width: 100%;
  margin-top:20px;
  text-align: left;
  padding: 15px;
}
.past-booking h6{
  margin-bottom: -10px;
}

.block-container{
  display: flex;
  gap:14px;
}

.past-booking-block{
  background-color: #fff;
  width: 130px;
  height: 145px;
  margin-top:20px;
  text-align: left;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 1px 7px 11px 1px rgba(87,84,84,0.79);
  -webkit-box-shadow: 1px 7px 11px 1px rgba(87,84,84,0.79);
  -moz-box-shadow: 1px 7px 11px 1px rgba(87,84,84,0.79);

}

